* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

img {
  max-width: 100%;
}

body {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 16px;
}

#root {
  padding: 20px;
}

.logo {
  width: 100px;
  display: block;
  margin: 0 auto;
}

/*aside*/
aside ul {
  list-style: none;
  padding: 30px 10px;
  display: flex;
  justify-content: space-between;
}

aside a {
  color: black;
  text-decoration: none;
  display: block;
  margin-bottom: 16px;
  font-weight: 300;
  font-size: 18px;
}

/*Pages*/
h2 {
  font-size: 26px;
  font-weight: 600;
  margin-bottom: 30px;
  color: #3f3f3f;
}

.repo {
  display: none;
}

@media screen and (min-width: 600px){
  #root {
    width: 100%;
    margin: 0 auto;
    max-width: 1440px;
    padding: 50px;
    display: flex;
  }

  .logo {
    width: 120px;
    margin: 0;
  }

  aside {
    width: 25%;
    padding-right: 30px;
  }

  main {
    width: 75%;
    padding-left: 30px;
  }
  
  aside ul {
    padding-top: 30px;
    display: block;
  }

  .repo {
    padding: 0 10px;
    display: block;
  }

  .repo h3{
    color: #acacac;
    font-size: 16px;
  }
  .repo a {
    opacity: .5;
    text-decoration: underline;
  }
}